.img-gal-page-links{
    float: right !important;
    display: inline-block !important;
}

.img-gal-page-links a{
    background-color: #37A23C !important;
    width:5em !important;
    border:0 !important;
    text-decoration: none !important;
    color: #fff;
    padding: 6px 5px;
    margin-left: 15px;
}

.img-gal-top-page-links{
    margin-top: 39px !important;
}

.img-gal-bottom-page-links{
    position: relative;
}

.gallery_item_title{
    display: inline-block !important;
}