.gallery_item_image{
	display: block;
	margin-top:20px;
    width: 300px !important;
    height: 225px !important;
}

.postbox{
    clear: both;
}

.gallery_image_upload_button{
    cursor: pointer;
}

#gallery_item_add_btn{
	background-color: rgb(0, 160, 210);
	border-bottom-color: rgb(0, 115, 170);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 115, 170);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(0, 115, 170);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(0, 115, 170);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(120, 200, 230, 0.498039) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.14902) 0px 1px 0px 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	height: 30px;
	line-height: 28px;
	padding-bottom: 2px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	text-align: center;
	width: 140px;
}

.paged_post_gallery_item_toolbar{
    float: right;
    margin-bottom: 5px;
    margin-top: 15px;
}

.paged_post_gallery_item_minimize_btn{
    color: rgb(160, 165, 170);
    display: inline-block;
    outline-color: rgb(160, 165, 170);
    transition-duration: 0.05s;
    transition-property: border, background, color;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.paged_post_gallery_item_minimize_btn::after{
    padding: 12px 12px 11px;
    right: 0;
    content: '\f140';
    border: none;
    background: 0 0;
    font: 400 20px/1 dashicons;
    speak: none;
    display: block;
    padding: 0;
    text-indent: 0;
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}

.paged_post_gallery_item_delete_btn{
    background-image:url('delete-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height:20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
}


.paged_post_gallery_item_minimized::after{
    content:'\f142' !important;
}

.paged_post_gallery_item_maximized::after{
    content:'\f140' !important;
}